@use "variables";

@mixin button($bgColor, $color) {
  background-color: $bgColor;
  cursor: pointer;
  padding: 20px 5rem;
  border-radius: 50px;
  border: none;
  outline: none;
  display: inline-block;
  color: $color;
  font-family: $FontFamily;
  font-weight: $FontWeightBold;
  font-size: 1.2em;
  letter-spacing: 1px;
  width: 100%;
}
